@model IEnumerable<Top_Rooftop_project.ModelVm.FarmerVm>
@{
    Layout = "_layoutTemp";
}

    <div class="container" style="margin-top:200px">
    <marquee id="marquee" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
        <h2>RootFloer Contact Page</h2>
    </marquee>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-details">
                    <h2 class="text-center mb-4">Contact Details</h2>
                    <div>
                        <h4>Name:</h4>
                        <p>Nipon Chondra Pal</p>
                    </div>
                    <div>
                        <h4>Email</h4>
                        <p>niponpal@gmail.com</p>
                    </div>
                    <div>
                        <h4>Address:</h4>

                        <p>123 Main Street, City, Country</p>
                    </div>
                    <div>
                        <h4>Phone:</h4>
                        <p>+1 234-567-890</p>
                    </div>
                    <div>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>
                    <div class="map-container">
                        <!-- Embedded Google Map -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3817.867030568171!2d81.56740597580355!3d16.882471017153172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37b3b0ccd87ebf%3A0x1736a1a1b86f59e6!2sMylocation!5e0!3m2!1sen!2sbd!4v1710878764217!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
